@use "sass:list";
@use '../01_utilities/index' as utilities;


:root {
    @for $i from 1 through list.length(utilities.$alternative-color) {
        $color: list.nth(utilities.$alternative-color, $i);
        --mlt-sys-alternative-color-#{$i}: #{$color};
    }
}