@use "sass:list";
@use "sass:math";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$border-widths) {
        $border-width: list.nth(utilities.$border-widths, $i);
        $px: math.div($border-width, 1px);
        $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
        --mlt-sys-border-width-#{$name}: #{$border-width};
    }
}

@for $i from 1 through list.length(utilities.$border-widths) {
    $border-width: list.nth(utilities.$border-widths, $i);
    $px: math.div($border-width, 1px);
    $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
    .g--border-width-#{$name} {
        border-width: var(--mlt-sys-border-width-#{$name}) !important;
    }
}