@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$border-radius) {
        $radius: list.nth(utilities.$border-radius, $i);
        $name: "#{$i}";

        @if meta.type-of($radius) == 'number' and math.unit($radius) == 'px' {
            $px: math.div($radius, 1px);
            $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
        } @else if meta.type-of($radius) == 'number' and math.unit($radius) == '%' {
            $p: math.div($radius, 1%);
            $name: "#{$p}p";
        } @else if meta.type-of($radius) == 'string' {
            $name: $radius;
        }

        --mlt-sys-border-radius-#{$name}: #{$radius};
    }
}

@for $i from 1 through list.length(utilities.$border-radius) {
    $radius: list.nth(utilities.$border-radius, $i);
    $name: "#{$i}";

    @if meta.type-of($radius) == 'number' and math.unit($radius) == 'px' {
        $px: math.div($radius, 1px);
        $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
    } @else if meta.type-of($radius) == 'number' and math.unit($radius) == '%' {
        $p: math.div($radius, 1%);
        $name: "#{$p}p";
    } @else if meta.type-of($radius) == 'string' {
        $name: $radius;
    }

    .g--border-radius-#{$name} {
        border-radius: var(--mlt-sys-border-radius-#{$name}) !important;
    }
}