@forward './primary-colors';
@forward './secondary-colors';
@forward './alternative-colors';
@forward './danger-colors';
@forward './warning-colors';
@forward './paddings';
@forward './font-sizes';
@forward './font-weights';
@forward './border-widths';
@forward './border-radius';
@forward './widths';
@forward './margin-lefts';
@forward './margins';
@forward './gaps';
@forward './colors';