@use "sass:list";
@use "sass:math";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$margin-lefts) {
        $margin-left: list.nth(utilities.$margin-lefts, $i);
        $px: math.div($margin-left, 1px);
        $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
        --mlt-sys-margin-left-#{$name}: #{$margin-left};
    }
}

@for $i from 1 through list.length(utilities.$margin-lefts) {
    $margin-left: list.nth(utilities.$margin-lefts, $i);
    $px: math.div($margin-left, 1px);
    $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
    .g--margin-left-#{$name} {
        margin-left: var(--mlt-sys-margin-left-#{$name}) !important;
    }
}