@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$margins) {
        $margin: list.nth(utilities.$margins, $i);
        $name: "#{$i}";

        @if meta.type-of($margin) == 'number' and math.unit($margin) == 'px' {
            $px: math.div($margin, 1px);
            $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
        } @else if meta.type-of($margin) == 'number' and math.unit($margin) == '%' {
            $p: math.div($margin, 1%);
            $name: "#{$p}p";
        } @else if meta.type-of($margin) == 'string' {
            $name: $margin;
        }

        --mlt-sys-margin-#{$name}: #{$margin};
    }
}

@for $i from 1 through list.length(utilities.$margins) {
    $margin: list.nth(utilities.$margins, $i);
    $name: "#{$i}";

    @if meta.type-of($margin) == 'number' and math.unit($margin) == 'px' {
        $px: math.div($margin, 1px);
        $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
    } @else if meta.type-of($margin) == 'number' and math.unit($margin) == '%' {
        $p: math.div($margin, 1%);
        $name: "#{$p}p";
    } @else if meta.type-of($margin) == 'string' {
        $name: $margin;
    }

    .g--margin-#{$name} {
        margin: var(--mlt-sys-margin-#{$name}) !important;
    }
}