@use "sass:list";
@use "sass:math";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$paddings) {
        $padding: list.nth(utilities.$paddings, $i);
        $px: math.div($padding, 1px);
        $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
        --mlt-sys-padding-#{$name}: #{$padding};
    }
}

@for $i from 1 through list.length(utilities.$paddings) {
    $padding: list.nth(utilities.$paddings, $i);
    $px: math.div($padding, 1px);
    $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
    .g--padding-#{$name} {
        padding: var(--mlt-sys-padding-#{$name}) !important;
    }
}