@use "sass:list";
@use "../01_utilities/index" as utilities;


:root {
    @for $i from 1 through list.length(utilities.$primary-color) {
        $color: list.nth(utilities.$primary-color, $i);
        --mlt-sys-primary-color-#{$i}: #{$color};
    }
}