@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$widths) {
        $width: list.nth(utilities.$widths, $i);
        $name: "#{$i}";

        @if meta.type-of($width) == 'number' and math.unit($width) == 'px' {
            $px: math.div($width, 1px);
            $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
        } @else if meta.type-of($width) == 'number' and math.unit($width) == '%' {
            $p: math.div($width, 1%);
            $name: "#{$p}p";
        } @else if meta.type-of($width) == 'string' {
            $name: $width;
        }

        --mlt-sys-width-#{$name}: #{$width};
    }
}

@for $i from 1 through list.length(utilities.$widths) {
    $width: list.nth(utilities.$widths, $i);
    $name: "#{$i}";

    @if meta.type-of($width) == 'number' and math.unit($width) == 'px' {
        $px: math.div($width, 1px);
        $name: if($px < 0, "neg-#{math.abs($px)}", "#{$px}");
    } @else if meta.type-of($width) == 'number' and math.unit($width) == '%' {
        $p: math.div($width, 1%);
        $name: "#{$p}p";
    } @else if meta.type-of($width) == 'string' {
        $name: $width;
    }

    .g--width-#{$name} {
        width: var(--mlt-sys-width-#{$name}) !important;
    }
}