[c-tag] {
    --c-tag-bg-color: var(--mlt-sys-primary-color-5);
    --c-tag-padding: var(--mlt-sys-padding-6) var(--mlt-sys-padding-10);
    --c-tag-font-size: var(--mlt-sys-font-size-12);
    --c-tag-font-weight: var(--mlt-sys-font-weight-700);
    --c-tag-border-radius: var(--mlt-sys-border-radius-6);
    --c-tag-letter-color: var(--mlt-sys-primary-color-1);
    
    display: inline-block;
    padding: var(--c-tag-padding);
    font-size: var(--c-tag-font-size);
    font-weight: var(--c-tag-font-weight);
    border-radius: var(--c-tag-border-radius);
    background-color: var(--c-tag-bg-color);
    color: var(--c-tag-letter-color);
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1;
    vertical-align: baseline;
}

[c-tag="precio"] {
    --c-tag-letter-color: var(--mlt-sys-primary-color-9);
    --c-tag-bg-color: var(--mlt-sys-color-alternative);

    display: inline-block;
    padding: var(--c-tag-padding);
    font-size: var(--c-tag-font-size);
    font-weight: var(--c-tag-font-weight);
    border-radius: var(--c-tag-border-radius);
    background-color: var(--c-tag-bg-color);
    color: var(--c-tag-letter-color);
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1;
    vertical-align: baseline;
}

[c-tag="lang"] {
    --c-tag-letter-color: var(--mlt-sys-primary-color-9);
    --c-tag-bg-color: var(--mlt-sys-secondary-color-5);

    display: inline-block;
    padding: var(--c-tag-padding);
    font-size: var(--c-tag-font-size);
    font-weight: var(--c-tag-font-weight);
    border-radius: var(--c-tag-border-radius);
    background-color: var(--c-tag-bg-color);
    color: var(--c-tag-letter-color);
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1;
    vertical-align: baseline;
}