:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

.c-footer {
    color: #fff;
    background-color: #101828;
    margin-top: 64px;

    &__container {
        padding-block: 48px;
        padding-inline: 24px;
        max-width: 1280px;
        margin-inline: auto;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 32px;
        margin-bottom: 32px;
    }

    &__logo {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 16px;

        &-img {
            width: 48px;
        }

        &-name {
            font-weight: 600;
            font-size: 20px;
            line-height: 1.4;
        }
    }

    &__text {
        color: #99a1af;
        margin-bottom: 16px;
    }

    &__socials {
        display: flex;
        gap: 12px;
    }

    &__social-icon {
        width: 36px;
        height: 36px;
        background-color: #1e293b;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s;

        &:hover {
            background-color: #4eb5d5;
        }

        svg {
            width: 16px;
            height: 16px;
            stroke: #ffffff;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 16px;
        line-height: 1.5;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        color: #99a1af;
        text-decoration: none;
        display: block;
        margin-bottom: 8px;
        transition: color 0.3s;

        &:hover {
            color: #4eb5d5;
        }
    }

    &__copyright {
        text-align: center;
        color: #99a1af;
        font-size: 14px;
        line-height: 1.42857;
        padding-top: 32px;
        border-color: #1e2939;
        border-top-style: solid;
        border-top-width: 1px;
    }
}