// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use './app/scss/main.scss' as *;
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Barlow', Roboto, "Helvetica Neue", sans-serif;
}


html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Barlow,
      density: 0,
    ));
  @include mat.dialog-overrides((container-shape: 16px,
      container-color: var(--mlt-sys-alternative-color-1),
      actions-alignment: space-between));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background: #f9fafb;
  //background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* Snackbars (Angular Material) */
.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__surface {
  background: var(--mlt-sys-color-alternative);
  color: var(--mat-sys-on-primary);
}

.mat-mdc-snack-bar-container.snackbar-warning .mdc-snackbar__surface {
  background: var(--mlt-sys-secondary-color-4);
  color: var(--mat-sys-on-primary);
}

.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__surface {
  background: var(--mlt-sys-danger-color-5);
  color: var(--mat-sys-on-primary);
}

.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-action,
.mat-mdc-snack-bar-container.snackbar-warning .mat-mdc-snack-bar-action,
.mat-mdc-snack-bar-container.snackbar-error .mat-mdc-snack-bar-action,
.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-action .mdc-button__label,
.mat-mdc-snack-bar-container.snackbar-warning .mat-mdc-snack-bar-action .mdc-button__label,
.mat-mdc-snack-bar-container.snackbar-error .mat-mdc-snack-bar-action .mdc-button__label {
  color: var(--mat-sys-on-primary) !important;
}

/* En snackbars verde/naranja, al seleccionar la X -> rojo */
.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-action:hover,
.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-action:focus-visible,
.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-action:active,
.mat-mdc-snack-bar-container.snackbar-warning .mat-mdc-snack-bar-action:hover,
.mat-mdc-snack-bar-container.snackbar-warning .mat-mdc-snack-bar-action:focus-visible,
.mat-mdc-snack-bar-container.snackbar-warning .mat-mdc-snack-bar-action:active,
.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-action:hover .mdc-button__label,
.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-action:focus-visible .mdc-button__label,
.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-action:active .mdc-button__label,
.mat-mdc-snack-bar-container.snackbar-warning .mat-mdc-snack-bar-action:hover .mdc-button__label,
.mat-mdc-snack-bar-container.snackbar-warning .mat-mdc-snack-bar-action:focus-visible .mdc-button__label,
.mat-mdc-snack-bar-container.snackbar-warning .mat-mdc-snack-bar-action:active .mdc-button__label {
  color: var(--mlt-sys-danger-color-5) !important;
}

